{% extends "::base.html.twig" %}

{% block body %}
    <div>
        {% for lot in data %}
            {{ dump(lot) }}
            <div class="col-lg-6">
                <div>

                    Різниця: {{ timeNow.diff(lot.createdAt) }}

                    Гра {{ lot|valiknet_lot_typelot }}
                </div>

                <div>
                    Стартова ціна: {{ lot.startPrice }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}